.specialPixelOn {
  width: 20px;
  height: 5px;
  border-style:solid;
  border-width: 0.5px;
  border-color: #FF6C7B ;
  margin-top: 5px; 
  margin-bottom: 5px;
  background: #FF6C7B
}

.roundedRight {
  width: 20px;
  height: 5px;
  border-style:solid;
  border-width: 0.5px;
  border-color: #FF6C7B;
  margin-top: 5px; 
  margin-bottom: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #FF6C7B;
}

.specialPixelOff {
  width: 20px;
  height: 6px;
  border-style:solid;
  border-width: 0.5px;
  border-color:#FFE7E5;
  margin-top: 5px; 
  margin-bottom: 5px;
}

.rowMarkerPixel {
  width: 20px;
  height: 4px;
  border-style:solid;
  border-width: 0.5px;
  border-color:#FFE7E5;
  /* margin-top: 5px;  */
  /* margin-bottom: 5px; */
}