.specialPixelOn {
    width: 20px;
    height: 5px;
    border-style:solid;
    border-width: 0.5px;
    border-color:pink ;
    margin-top: 5px; 
    margin-bottom: 5px;
  }

  .specialPixelOff {
    width: 20px;
    height: 5px;
    border-style:solid;
    border-width: 0.5px;
    border-color:white;
    margin-top: 5px; 
    margin-bottom: 5px;
  }