.specialPixelOn {
    width: 12px;
    height: 2px;
    border-style:solid;
    border-width: 0.5px;
    border-color: red;
    margin-top: 2px; 
    margin-bottom: 2px;
  }

  .specialPixelOff {
    width: 12px;
    height: 2px;
    border-style:solid;
    border-width: 0.5px;
    border-color: white;
    margin-top: 2px; 
    margin-bottom: 2px;
  }