#drawingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#drawingSectionRotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 0px;
  margin-right: 0px;
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}