.straw {
  background: url('../assets/strawberry-slider.png');
  width: 38px; 
  height: 38px;
}

.text {
  font-size: 16;
  color: #E33937;
  letter-spacing: 2px;
  margin-bottom: 28px
}

.switch {
  margin: 0 auto;
}

.textSwitch {
  margin-top:10px;
  margin-bottom:10px;
  color: #E33937;
  letter-spacing: 2px;
  font-size: 16;
}

.buttonText {
  margin: auto;
  margin-top: 15px;
  letter-spacing: 2px;
}

.container {
  border-radius: 30px;
}

.containerLeft {
  border-bottom-left-radius: 30px;
}

.containerRight {
  border-bottom-right-radius: 30px;
}

.containerCaption{
  height:18%;
  background:#D14240;
  margin-bottom:1%;
  margin-left:1%;
  width:99%;
  border-radius: 30px;
  color: white;
  letter-spacing: 2px; 
}

.containerCaption a {
  line-height: 30px;
}

.containerCaption a span{
  background:pink;
  color: red;
  letter-spacing:2px;
  padding-left:7px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:4px;
  border-radius: 5px;
}

.banner {
  width: 100%
}

.banner-b{
  width: 100%;
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.done-button {
  width: 350px; 
  height: 54px; 
  border-radius: 40px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style:solid;
  border-color:#D14240;
  background: #D14240;  
  margin-top: 7px;
  display: inline-block;
  margin-top: 165px;
  position: absolute;
  left: calc(50% - 180px);
  top: 90px;
}

.done-button:hover {
  width: 350px; 
  height: 55px; 
  border-radius: 40px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style:solid;
  border-color:#D14240;
  border-width: 5px;
  background: #D14240;  
  margin-top: 7px;
  display: inline-block;
  margin-top: 162px;
  left: calc(50% - 183px);
}

.download-label {
  letter-spacing: 2px;
  font-size: 18px;
  color:white;
  margin-top:12px;
  margin-bottom:10px
}

.download-label span {
margin: 10px;
}

.info-box{
  background: white; 
  height: 200px; 
  width: 350px; 
  border-radius: 40px; 
  border-color: red;
  border-style: solid; 
  display: inline-block;
  margin-top: 160px;
  position: relative
}

.straw-r{
  height: 60px; 
  width: 60px; 
  position: absolute;
  right: 90px; 
  top: -45px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.straw-l{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 60px; 
  width: 60px; 
  position: absolute;
  left: 90px; 
  top: -45px;
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.straw-m{
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  height: 60px; 
  width: 60px; 
  position: absolute;
  left: 145px; 
  top: -50px;
}

.app-name{
  color: red; 
  letter-spacing: 2px;
  margin-top: 26px;
  line-height: 22px;
  margin-bottom: 16px;
}

.name {
  color: red; 
  letter-spacing: 4.5px; 
  font-size: 22px;
  line-height: 26px;
  margin: 0px;
  font-weight: bold;
}

.left{
  float: left;
  margin-left: 85px;
  margin-top: 16px;
  /* text-align: left; */
}

.right{
  float: right;
  margin-right: 85px;
  margin-top: 16px;
  /* text-align: left; */
}

.link {
  color: red; 
  letter-spacing: 2px;
  margin-top: 26px;
  line-height: 26px;
  margin-bottom: 10px;
  text-decoration: none;
}

.link:hover {
  color: white; 
  letter-spacing: 2px;
  margin-top: 26px;
  line-height: 26px;
  margin-bottom: 10px;
  text-decoration: none;
}

.done-basket {
  margin: 0 auto;
  display: inline-block;
  margin-top: 40px;
}

.containerCaption-fig{
  /* height:125x; */
  background:#D14240;
  margin-bottom:1%;
  margin-left:1%;
  width:99%;
  border-radius: 30px;
  color: white;
  letter-spacing: 2px; 
}

.containerCaption-fig a {
  line-height: 30px;
}

.containerCaption-fig a span{
  background:pink;
  color: red;
  letter-spacing:2px;
  padding-left:7px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:4px;
  border-radius: 5px;
}


