.landing-container{
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
    position: relative;
}

.heading{
    position: relative;
    margin: 20px;
}

.heading-left {
    height: 100px; 
    width: 100px;
    position: absolute; 
    margin-top: -35px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    z-index: 2;
}

.heading-right {
    height: 100px; 
    width: 100px;
    position: absolute; 
    margin-top: -38px;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    z-index: 2;
}

.heading-text-holder{
    z-index: 2;
    position: relative
}

.heading-text-holder p {
    font-size: 20px;
    letter-spacing: 2px;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.heading-underline{
    height: 20px; 
    background-color: pink;
    border-radius: 30px; 
    position: absolute; 
    left: 8px;
    top: 14px;
    opacity: 0.6;
    z-index: 0;
}

.paragraph{
    margin-left: 70px;
    margin-top: 40px; 
    margin-right: 30px;
    letter-spacing: 1.5px;
    color: #DC0A0A;
    font-size: 14px;
    line-height: 21px;
}

.bullet{
    /* background: purple; */
    text-align: right;
}

.bg-straw{
    width: 380px;
    height: 380px;
    opacity: 0.2;
    position: absolute; 
    top: -20x;
    right: 15px;
}

.bg-straw-bottom{
    width: 380px;
    height: 380px;
    opacity: 0.2;
    position: absolute; 
    bottom: 110px;
    left: 15px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}